header{

    .toggleButton{
        position:absolute;
        top: 0.6rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        display: none;

        .bar{
            height: 3px;
            width: 100%;
            background-color: #fff;
            border-radius: 10px
        }
    }
}

