header {
    background-color: #33ceff;
    height: 60vh;
    color: #fff;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    margin-bottom: 50px;
}